/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply global styles */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}  

html {
  font-family: var(--font-rubik); /* Custom font family */
}

h6 {
  font-family: var(--font-caveat); /* Custom font family for h6 */
}

@layer utilities {
  /* Define custom utility classes */
  .text-balance {
    text-wrap: balance;
  }
}
